.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.header-container {
  align-items: flex-start;
  background: #de5752;
  display: flex;
  height: 200px;
  justify-content: center;
}

.title {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.title > h1 {
  font-family: 'Bowlby One', cursive;
  font-size: 50px;
  margin-bottom: 0;
}

.body-container {
  flex: 1;
  max-width: 100vw;
}

.body-background::after {
  background: url('../../bg.jpg') no-repeat, #ffffff;
  background-blend-mode: exclusion;
  content: '" "';
  display: block;
  left: 0;
  height: 100%;
  opacity: 0.05;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.footer {
  align-items: center;
  background: #F58067;
  color: #FFF;
  display: flex;
  height: 36px;
  justify-content: center;
}

@media (max-width: 809px) {
  .title > h1 {
    font-size: 36px;
  }
}